aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==24.3.0
audioread==3.0.1
babel==2.17.0
beautifulsoup4==4.13.4
billiard==4.2.1
bleach==6.2.0
boto3==1.34.34
botocore==1.34.162
Brotli==1.1.0
cachetools==5.5.2
celery==5.3.4
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.41.0
colorama==0.4.6
comm==0.2.2
comtypes==1.4.11 ; platform_system == "Windows"
contourpy==1.3.2
cron-descriptor==1.4.5
cryptography==42.0.5
cssselect2==0.8.0
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dj-database-url==2.3.0
Django==5.0.2
django-allauth==0.61.1
django-celery-beat==2.8.1
django-cors-headers==4.3.1
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.5
django-rest-auth==0.9.5
django-redis==5.4.0
django-rosetta==0.10.1
django-storages==1.14.2
django-timezone-field==7.1
djangorestframework==3.14.0
djangorestframework-csv==2.1.1
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.27.2
drf-spectacular-sidecar==2025.8.1
drf-yasg==1.21.7
ecdsa==0.19.0
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.7.0
google-generativeai==0.8.6
geographiclib==2.0
geopy==2.4.1
google-api-core==2.25.0
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-speech==2.21.0
googleapis-common-protos==1.70.0
google-generativeai==0.8.6
grpcio==1.74.0
grpcio-status==1.62.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
imbalanced-learn==0.13.0
inflection==0.5.1
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
kombu==5.5.4
lazy_loader==0.4
librosa==0.10.1
lightgbm==4.6.0
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistune==3.1.3
msgpack==1.1.0
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.4.1
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.5
oauthlib==3.2.2
ollama==0.4.7
openpyxl==3.1.2
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pdfkit==1.0.0
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.3.7
polib==1.2.0
pooch==1.8.2
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14 ; platform_system == "Windows"
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pydyf==0.11.0
Pygments==2.19.1
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
PyJWT==2.10.1
pyparsing==3.2.3
PyPDF2==3.0.1
pyphen==0.17.2
 pypiwin32==223 ; platform_system == "Windows"
pypng==0.20220715.0
python-crontab==3.3.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-jose==3.3.0
python-json-logger==3.3.0
python-magic==0.4.27
# python-magic-bin==0.4.14
python3-openid==3.2.0
pyttsx3==2.99
pytz==2024.2
pywin32==310 ; platform_system == "Windows"
pywin32-ctypes==0.2.3 ; platform_system == "Windows"
pywinpty==2.0.15 ; platform_system == "Windows"
PyYAML==6.0.2
pyzmq==26.4.0
qrcode==7.4.2
redis==5.0.1
referencing==0.35.1
reportlab==4.0.7
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.22.3
rsa==4.9
s3transfer==0.10.4
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==75.8.0
six==1.17.0
sklearn-compat==0.1.3
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.7
soxr==1.0.0
SpeechRecognition==3.14.3
sqlparse==0.5.3
stack-data==0.6.3
statsmodels==0.14.4
stripe==7.11.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tornado==6.4.2
traitlets==5.14.3
twilio==9.7.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.2
unicodecsv==0.14.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
weasyprint==66.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==4.0.14
xgboost==3.0.0
yarl==1.20.1
zopfli==0.2.3.post1
